{{ 'banner.css' | asset_url | stylesheet_tag }}

<div class="ellipse">
  {% render 'ellipse' %}
</div>
<div class="blur-right">
  {% render 'blur-right' %}
</div>
<div class="blur-left">
  {% render 'blur-left' %}
</div>
<div class="banner-container">
  <div class="banner-header">
    <h1>{{ section.settings.header }}</h1>
  </div>

  <div class="image-container">
    <div class="image-left">
      <img
        src="{{ "banner-image-01.png" | asset_url }}"
        alt="girl in dress"
        width="auto"
        height=""
        loading="lazy"
      >
    </div>
    <div class="image-right">
      <img
        src="{{ "banner-image-02.png" | asset_url }}"
        alt="girlindress"
        width="auto"
        height=""
        loading="lazy"
      >
    </div>
  </div>

  <div class="text-container">
    <p class="banner-text ">Let's make your summer travel story an unforgettable one</p>
    <div class="banner-button">
      <button>
        {% render 'icon-upright' %}
      </button>
      <p>Shop Now</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "banner",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "default": "Open Your World To Kayani",
      "label": "Heading Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Lets make your summer travel story an unforgetable one<p>",
      "label": "Heading text"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop Now",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "Banner Section"
    }
  ]
}
{% endschema %}
