<section class="hot-pick">
  <div class="hot-pick-blur-right">
    {% render 'blur-right' %}
  </div>
  <div class="hot-pick-container">
    <div class="card-container">
      <div class="card">
        <div class="card-elements">
          <h2>Bestsellers</h2>
          <button>Shop Bestseller</button>
        </div>
      </div>
      <div class="card">
        <div class="card-elements ">
          <h2>New Arrivals</h2>
          <button>Shop Bestseller</button>
        </div>
      </div>
      <div class="card">
        <div class="card-elements ">
          <h2>Dress Collection</h2>
          <button>Shop Dress</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  section .hot-pick-container {
    width: min(95%, 374px);
    margin-inline: auto;
  }
  section.hot-pick .card {
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    border-radius: 5px;
    text-align: center;
  }

  .hot-pick .card:nth-child(1) {
    background-image: url('{{ "hot-01.png" | asset_url }}');

  }
  .hot-pick .card:nth-child(2) {
    background-image: url('{{ "hot-02.png" | asset_url }}');

  }
  .hot-pick .card:nth-child(3) {
    background-image: url('{{ "hot-03.png" | asset_url }}');
  }

  .hot-pick .card-elements h2 {
    font-weight: 700;
    font-size: 30px;
    color: var(--clr-primary-white);
    margin-bottom: 25px;
  }

  .hot-pick .card-elements button {
    font-size: 20px;
    font-family: inherit;
    padding: 13px 42px;
    border-radius: 0;
    outline: none;
    color: var(--clr-primary-dark);
    border: none;
    width: 211px;
  }
  .hot-pick-blur-right {
    display: none;
  }

  @media(min-width: 800px) {
    section.hot-pick {
      position: relative;
    }

    section .hot-pick-container {
      gap: 60px;
      width: min(90%, 1435px);
      margin-inline: auto;
    }
    .hot-pick .card-container {
      display: flex;
      gap: 60px;
    }

    section.hot-pick .card {
      flex: 1;
      min-height: 659px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 50px;
      border-radius: 5px;
    }

    .hot-pick .card-elements button {
      max-width: 251px;
    }
    .hot-pick-blur-right {
      display: block;
      position: absolute;
      right: 0;
      bottom: -250px;
      opacity: 60%;

    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Hot Picks",
  "settings": []
}
{% endschema %}
