<section class="instagram">
  <div class="instagram-container">
    <p>Follow Us On</p>
    <h2>INSTAGRAM</h2>
    <div class="instagram-gallery">
      {% if settings.instagram_collection != null %}
        {% for product in collections[settings.instagram_collection].products limit: 6 %}
          <div>
            <img src="{{ product.featured_image | img_url: 'master' }}" alt="">
          </div>
        {% endfor %}
      {% else %}
        {% for i in (1..7) %}
          {% if settings['image_' | append: i] != null %}
            <div>
              <img src="{{ settings['image_' | append: i] | img_url: 'master' }}" alt="">
            </div>
          {% endif %}
        {% endfor %}
        {% if settings.fallback_image != null %}
          <div>
            <img src="{{ settings.fallback_image | img_url: 'master' }}" alt="">
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
{% style %}
  section.instagram {
    padding: 51px 0 40px;
    width: min(95%, 414px);
    text-align: center;
    margin-inline: auto;
  }

  section.instagram p {
    font-size: 16px;
    margin-bottom: -10px;
  }

  section.instagram h2 {
    margin-bottom: 18px;
    color: var(--clr-secondary-brown);
    font-size: 30px;
  }

  .instagram-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 15px; /* Adjust the gap between images as needed */
    width: min(95%, 414px);
    margin-inline: auto;
  }

  .big {
    grid-row: span 2;
    grid-column: span 2;
  }
  .instagram-gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .instagram-gallery div:nth-child(7) img {
    display: none;
  }
  @media (min-width: 800px) {
    section.instagram {
      padding: 51px 0 40px;
      width: min(95%, 1719px);

      text-align: left;
      margin-inline: auto;
    }
    .instagram-container {
      margin-inline: auto;
    }
    section.instagram h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    section.instagram p {
      font-size: 16px;
      margin-bottom: -15px;
    }
    .instagram-gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      width: min(100%, 1719px);
      margin-inline: auto;
      margin: 0;
    }
    .instagram-gallery div:nth-child(7) img {
      display: block;
    }

    .instagram-gallery div:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "collection",
      "label": "Instagram Collection",
      "id": "instagram_collection",
      "info": "Select the collection containing Instagram images."
    },
    {
      "type": "image_picker",
      "label": "Fallback Image",
      "id": "fallback_image",
      "info": "Select a fallback image if no collection is selected."
    },
    {
      "type": "image_picker",
      "label": "Image 1",
      "id": "image_1",
      "info": "Select image 1."
    },
    {
      "type": "image_picker",
      "label": "Image 2",
      "id": "image_2",
      "info": "Select image 2."
    },
    {
      "type": "image_picker",
      "label": "Image 3",
      "id": "image_3",
      "info": "Select image 3."
    },
    {
      "type": "image_picker",
      "label": "Image 4",
      "id": "image_4",
      "info": "Select image 4."
    },
    {
      "type": "image_picker",
      "label": "Image 5",
      "id": "image_5",
      "info": "Select image 5."
    },
    {
      "type": "image_picker",
      "label": "Image 6",
      "id": "image_6",
      "info": "Select image 6."
    },
    {
      "type": "image_picker",
      "label": "Image 7",
      "id": "image_7",
      "info": "Select image 7."
    }
  ]
}
{% endschema %}
