.desktop {
  display: none;
}
.mobile {
  display: block;
}

.about-banner {
  min-height: 518px;
  width: 100%;
  position: relative;
  margin: 0 auto 50px;
}
.about-banner .mobile,
.about-banner .desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.about-banner .mobile img,
.about-banner .desktop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .about-banner {
    min-height: 606px;
    width: min(90%, 1440px);
  }
}

// established section
.about-established {
  margin-top: 50px;
}
.about-established__text {
  width: min(90%, 375px);
  margin-inline: auto;
}
.about-established__text h1 {
  margin: 0;
}
.about-established__text p {
  font-family: Unna;
  font-size: 18px;
  line-height: 25px;
}
.about-established__image {
  width: min(90%, 375px);
  margin-inline: auto;
  position: relative;
  min-height: 607px;
  margin-bottom: 10px;
}

.about-established__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-established__image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

@media (min-width: 900px) {
  .about-established {
    width: min(95%, 1440px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    // margin-bottom: 80px;
  }
  .about-established__image {
    min-height: 726px;
    width: min(100%, 485px);
    order: 2;
  }
  .about-established__text {
    order: 1;
    width: min(90%, 720px);
    font-family: Unna;
    font-size: 24px;
    line-height: 32px;
  }
  .about-established__text p {
    font-family: Unna;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

// Creation

.about-creation__text {
  width: min(90%, 375px);
  margin-inline: auto;
}

.about-creation__image {
  width: min(90%, 375px);
  margin-inline: auto;
  position: relative;
  min-height: 400px;
}
.about-creation__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-creation__image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

@media (min-width: 900px) {
  .about-creation {
    width: min(90%, 1440px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .about-creation__image {
    min-height: 720px;
    width: min(100%, 720px);
  }
  .about-creation__text {
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-size: 48px;
    line-height: 60px;
    max-width: 680px;
  }
}

// Commitment

.about-commitment__text-container {
  max-width: 375px;
  margin-inline: auto;
}

.about-commitment__image {
  width: min(90%, 375px);
  margin-inline: auto;
  position: relative;
  min-height: 400px;
}
.about-commitment__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-commitment__image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

@media (min-width: 900px) {
  .about-commitment {
    width: min(90%, 1440px);
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 80px;
  }
  .about-commitment__image {
    min-height: 720px;
    width: min(100%, 720px);
    order: 2;
  }
  .about-commitment__text {
    font-size: 48px;
    line-height: 60px;
    max-width: 680px;
    order: 1;

    display: flex;
    align-items: center;
  }

  .about-commitment__text h2 {
    font-family: Unna;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.96px;
  }
  .about-commitment__text p {
    font-family: Unna;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}
